display-flex(flex-direction, justify-content, align-items)
  display flex
  // flex-flow flex-direction flex-grow
  flex-direction flex-direction
  justify-content justify-content
  align-items align-items
size(font-size, uni=px)
  ("%s" % (font-size)) + uni
$success = #67C23A
$warning = #E6A23C
$danger = #F56C6C
$info = #909399
$menu-bgcolor = #011529
$submenu-bgcolor = #000b16
$menu-text-color = rgba(255,255,255,0.6)
$menu-active-text-color = #ffffff
$theme-color = #1890ff
$brand-color = #002040
$primary-color = #1890ff // 全局主色
$link-color = #1890ff // 链接色
$success-color = #52c41a // 成功色
$warning-color = #faad14 // 警告色
$error-color = #f5222d // 错误色
$info-color = #909399
$font-size-base = 14px // 主字号
$heading-color = rgba(0, 0, 0, 0.85) // 标题色
$text-color = rgba(0, 0, 0, 0.65) // 主文本色
$text-color-secondary = rgba(0, 0, 0, 0.45) // 次文本色
$disabled-color = rgba(0, 0, 0, 0.25) // 失效色
$border-radius-base = 4px // 组件/浮层圆角
$border-color-base = #d9d9d9 // 边框色
$box-shadow-base = 0 2px 8px rgba(0, 0, 0, 0.15) // 浮层阴影
$hover-bgcolor = rgba(230, 247, 255, 1)
$hover-bgcolor-white = rgba(255, 255, 255, 0.2)
$hover-bgcolor-black = rgba(0, 0, 0, 0.05)